<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LDSong.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LDSong.Properties.Settings.LDSongConnectionString"
      connectionString="Data Source=DESKTOP-46U4V5L\SQLEXPRESS;Initial Catalog=LDSong;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LDSong.Properties.Settings.LDSongConnectionString1"
      connectionString="Data Source=DESKTOP-50CH9TG\SQLEXPRESS;Initial Catalog=LDSong;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="LDSong.Properties.Settings.LDSongConnectionString2"
      connectionString="Data Source=DESKTOP-50CH9TG\SQLEXPRESS;Initial Catalog=LDSong;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="LDSong.Properties.Settings.LDSongConnectionString3"
      connectionString="Data Source=DESKTOP-50CH9TG\SQLEXPRESS;Initial Catalog=LDSong;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="LDSong.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=DESKTOP-50CH9TG\SQLEXPRESS2;Initial Catalog=AdventureWorks;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <LDSong.Properties.Settings>
      <setting name="connect" serializeAs="String">
        <value />
      </setting>
      <setting name="Color" serializeAs="String">
        <value>green</value>
      </setting>
      <setting name="SireFontDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SireFont" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rate" serializeAs="String">
        <value>-3</value>
      </setting>
      <setting name="volume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Key" serializeAs="String">
        <value />
      </setting>
      <setting name="Vitri1" serializeAs="String">
        <value />
      </setting>
      <setting name="Vitri2" serializeAs="String">
        <value />
      </setting>
      <setting name="Vitri3" serializeAs="String">
        <value />
      </setting>
      <setting name="rdPerson" serializeAs="String">
        <value>False</value>
      </setting>
    </LDSong.Properties.Settings>
  </userSettings>
</configuration>